 /***************************************************/
  /* ADDON: lite-youtube-embed by paulirish          */
  /* Code from github repo below:                    */
  /* https://github.com/paulirish/lite-youtube-embed */
  /***************************************************/

  lite-youtube {
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

  /* gradient */
  lite-youtube::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      /* 
      background-image: url(/img/lite-yt-playbutton.svg);
      background-position: top;
      background-repeat: repeat-x; */
      height: 60px;
      padding-bottom: 50px;
      width: 100%;
      transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  }

  /* responsive iframe with a 16:9 aspect ratio
      thank you: https://css-tricks.com/responsive-iframes/
  */
  lite-youtube::after {
      content: "";
      display: block;
      padding-bottom: calc(100% / (16 / 9));
  }
  lite-youtube > iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
  }

  /* play button */
  lite-youtube > .lty-playbtn {
      width: 68px;
      height: 48px;
      position: absolute;
      transform: translate3d(-50%, -50%, 0);
      top: 50%;
      left: 50%;
      z-index: 1;
      /* YT's actual play button svg */
      background-image: url(/img/lite-yt-playbutton.svg);
      filter: grayscale(100%);
      transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
  }

  lite-youtube:hover > .lty-playbtn {
      filter: none;
  }

  /* Post-click styles */
  lite-youtube.lyt-activated {
      cursor: unset;
  }
  lite-youtube.lyt-activated::before,
  lite-youtube.lyt-activated > .lty-playbtn {
      opacity: 0;
      pointer-events: none;
  }