// Bulma customizations

$primary: #5546FF;
$link: $primary;
$link-visited: $primary;
$family-sans-serif: Arial, sans-serif;
$family-primary: Arial, sans-serif;
$family-secondary: Arial, sans-serif;
$title-family: $family-secondary;
$subtitle-family: $family-secondary;

// Import bulma files
@import "bulma/bulma-0.9.1.sass";

// Import fork awesome files 
@import "fork-awesome/fork-awesome.scss";