// Bulma customizations

$primary: #5546FF;
$body-size: 18px;
$size-1: 4rem;
$size-2: 3rem;
$size-3: 2.5rem;
$size-4: 2rem;
$size-5: 1.5rem;
$size-6: 1.25rem;
$size-7: 1rem;
$link: $primary;
$link-visited: $primary;
$footer-background-color: black;
$footer-color: white;

// custom CSS
.header-link,
.header-link:visited {
  color: black;
}
.header-link:hover,
.header-link:active {
  color: $primary;
}
.header-link:hover span {
  display: inline !important;
}

// Import bulma files
@import "bulma/bulma-0.9.1.sass";

// Import fork awesome files 
@import "fork-awesome/fork-awesome.scss";

// Import lite-yt styles
@import "lite-yt";