{{ define "main" }}

 <section class="section has-background-grey-lighter border-b-1">
  <div class="container">
    <h1 class="title">Error: 404</h1>
    <h2 class="subtitle">Page not found.</h3>
  </div>
</section>

<section class="section">
  <div class="container">
    <p class="is-size-5 pb-3">Sorry, we can’t find the page you were looking for.</p>
    <p class="is-size-5 pb-3">This can happen if the URL was mis-typed, the link was broken, or the content was moved or deleted.</p>
    <p class="is-size-5">Please select a link from the site navigation and try again.</p>
  </div>
</section>

{{ end }}
