{{ define "main" }}

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Stacks 101</h1>
      <h2 class="subtitle">The go-to for STX knowledge.</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
    <h2>Hello!</h2>
    <p>Hi, my name is <a href="https://github.com/whoabuddy" rel="noopener" target="_blank">@whoabuddy</a>, and this website is a collection of resources I have built while assisting others in the <a href="https://community.blockstack.org/" rel="noopener" target="_blank">Stacks Community</a>.</p>

    <div class="notification is-info is-light">
      <p>If you are here looking for more information about the <strong>Mine to 1 Million STX challenge</strong> from Daemon Technologies, please see the official resources below as well as the menu items at the top!</p>
      <div class="buttons is-centered">
        <a href="https://daemontechnologies.co/minestx-challenge" rel="noopener" target="_blank"
        class="button is-primary is-outlined">
          Registration
        </a>
        <a href="https://daemon-technologies.github.io/docs/" rel="noopener" target="_blank"
        class="button is-primary is-outlined">
          Mining Bot
        </a>
        <a href="https://daemontechnologies.co/mine-1-million" rel="noopener" target="_blank"
        class="button is-primary is-outlined">
          Blog Post
        </a>
      </div>
      <p>Remember: <a href="https://daemontechnologies.co/minestx-challenge#!/tab/256896163-1" rel="noopener" target="_blank">Part 1 of the competition</a> is running on the <strong>Krypton phase</strong> of the Stacks Testnet. This does not require running a bitcoind and the instructions for setup and configuration vary slightly compared to the official documentation that outlines the next phase: <strong>Xenon</strong>.</p>
    </div>

    <h2>Past Writing</h2>
    <p>You can see some of my past content <a href="https://app.sigle.io/whoabuddy.id.blockstack" rel="noopener" target="_blank">on Sigle:</a></p>
    <ul>
      <li>
        <a href="https://app.sigle.io/whoabuddy.id.blockstack/X9C2GgqvNQUl1azFGsWvF" rel="noopener" target="_blank">
          Defining DeFi on BTC with Clarity and Stacks 2.0
        </a>
      </li>
      <li>
        <a href="https://app.sigle.io/whoabuddy.id.blockstack/IFT64oGIRG6yvFF4LB0UW" rel="noopener" target="_blank">
          Decoding Discord Chats and Hangouts
        </a>
      </li>
      <li>
        <a href="https://app.sigle.io/whoabuddy.id.blockstack/s0zMy6UW3cTOfR-Lm9dCg" rel="noopener" target="_blank">
          Blockstack: How to -git- Involved
        </a>
      </li>
    </ul>

    <h2>Stacks Resources</h2>
    <p>If you want to learn more about me check out my <a href="" rel="noopener" target="_blank">Evangelist Spotlight</a>, and if you want to learn more about Stacks, see the resources below:</p>
    <ul>
      <li>
        <a href="https://stacks2.com/" rel="noopener" target="_blank">
          Stacks 2.0 Launch Information
        </a> - Mainnet launch is coming soon, sign up now to stay in the loop!
      </li>
      <li>
        <a href="https://www.blockstack.org/" rel="noopener" target="_blank">
          Stacks 2.0 Main Website
        </a> - An overview of everything Stacks, including a high-level review of <a href="https://www.blockstack.org/how-blockstack-works" rel="noopener" target="_blank">How it Works</a>.
      </li>
      <li>
        <a href="https://docs.blockstack.org/" rel="noopener" target="_blank">
          Stacks Documentation
        </a> - All you need to build decentralized apps, write smart contracts, and start mining.
      </li>
      <li>
        <a href="https://www.blockstack.org/testnet" rel="noopener" target="_blank">
          Stacks 2.0 Testnet Resources
        </a> - Help build the user owned internet by testing the latest builds for Stacks nodes, Stacks mining, Clarity smart contracts, and more.

      </li>
      <li>
        <a href="https://www.blockstack.org/papers" rel="noopener" target="_blank">
          Stacks 2.0 Papers
        </a> - Learn more about the fundamentals, technology, and concepts behind Stacks.
      </li>
      <li>
        <a href="https://www.app.co/" rel="noopener" target="_blank">
          Built on Stacks
        </a> - Discover some of the apps and services built on Stacks, secured by Bitcoin.
      </li>
    </ul>
  </div>
</section>

{{ end }}