{{ define "main" }}

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Stacks 101</h1>
      <h2 class="subtitle">Community curated STX knowledge.</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
    <h1 class="is-size-1">Ӿ ♥ ₿</h1>
    <h2>Stacks Resources</h2>
    <p>Stacks 2.0 <a href="https://stacks2.com/" rel="noopener" target="_blank">mainnet is here!</a> 🎉 Now is the time to learn more and get involved!</p>
    <p>This website is a collection of community questions and answers, instructions on how to participate, and additional resources.
    <p><a href="https://github.com/AbsorbingChaos/stacks101-com" rel="noopener" target="_blank">Contributions are welcome,</a> feel free to open an issue or send a PR!</p>
    <h3>General Resources</h3>
    <ul>
      <li>
        <a href="https://www.stacks.co" rel="noopener" target="_blank">
          Stacks Main Website
        </a> - An overview of everything Stacks, including a high-level review <a href="https://www.stacks.co/what-is-stacks" rel="noopener" target="_blank"></a>of how it works</a>.
      </li>
      <li>
        <a href="https://www.stacks.co/developers" rel="noopener" target="_blank">
          Stacks Developer Resources
        </a> - Everything needed to start building your first decentralied app on Stacks.
      </li>
      <li>
        <a href="https://stacks.tools/" rel="noopener" target="_blank">
          Stacks developer resource kit
        </a> - The official unofficial resource kit curated by Joe Bender (@joe on Discord)
      </li>
      <li>
        <a href="https://docs.blockstack.org/" rel="noopener" target="_blank">
          Stacks Documentation
        </a> - The core documentation about building decentralized apps, writing smart contracts, and mining.
      </li>
      <li>
        <a href="https://docs.blockstack.org/understand-stacks/testnet" rel="noopener" target="_blank">
          Clarity Language
        </a> - Decidable and interpreted smart contract language supported by Stacks, Hiro, and Algorand.
      </li>
      <li>
        <a href="https://docs.blockstack.org/understand-stacks/testnet" rel="noopener" target="_blank">
          Stacks 2.0 Testnet Resources
        </a> - Used by developers to test their apps, smart contracts, or changes to the protocol in a production-like environment.
      </li>
      <li>
        <a href="https://www.hiro.so/papers" rel="noopener" target="_blank">
          Stacks 2.0 Papers
        </a> - Learn more about the fundamentals, technology, and concepts behind Stacks.
      </li>
      <li>
        <a href="https://stackstoken.com/" rel="noopener" target="_blank">
          Stacks Token Resources
        </a> - STX enables smart contracts and apps for Bitcoin and allows holders to earn BTC by Stacking.
      </li>
      <li>
        <a href="https://www.app.co/" rel="noopener" target="_blank">
          Built on Stacks
        </a> - Discover some of the apps and services built on Stacks, secured by Bitcoin.
      </li>
    </ul>
    <h3>Related Entities</h3>
    <ul>
      <li>
        <a href="https://stacks.org" rel="noopener" target="_blank">
          Stacks Foundation
        </a> - Supporting the mission of a user owned internet through Stacks-related governance, research and development, education, and grants.
      </li>
      <li>
        <a href="https://www.hiro.so/" rel="noopener" target="_blank">
          Hiro (formerly Blockstack)
        </a> - Developing tools for Stacks to create the user-owned internet on Bitcoin.
      </li>
      <li>
        <a href="https://joinfreehold.com/" rel="noopener" target="_blank">
          Freehold
        </a> - Empowering growth of community builders as founders and adding utility to hodling.
      </li>
      <li>
        <a href="https://daemontechnologies.co/" rel="noopener" target="_blank">
          Daemon Technologies
        </a> - Building technology around under served opportunities in the Stacks ecosystem.
      </li>
      <li>
        <a href="https://newinternetlabs.com/" rel="noopener" target="_blank">
          New Internet Labs
        </a> - Building a browser for the new internet. Built on Bitcoin.
      </li>
      <li>
        <a href="https://www.secretkeylabs.com/" rel="noopener" target="_blank">
          Secret Key Labs
        </a> - Working with the Stacks community on improvements that would benefit all Stacks holders.
      </li>
    </ul>
  </div>
    
</section>

{{ end }}