{{ define "main" }}

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Stacks 101</h1>
      <h2 class="subtitle">Community-led STX knowledge.</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
    <h2>Ӿ brings apps and contracts to ₿</h2>
    <p>With <a href="https://forum.stacks.org/t/path-to-stacks-2-0-mainnet/11490" rel="noopener" target="_blank">Stacks 2.0 mainnet approaching fast</a>, now is the time to learn more and get involved!</p>

    <h3>Stacks Resources</h3>
    <p>If you want to learn more about me and why I built this site, check out my <a href="https://blog.blockstack.org/evangelist-spotlight-jason-schrader/" rel="noopener" target="_blank">Evangelist Spotlight</a></p>
    <p>If you want to learn more about Stacks (Ӿ), check out the resources below:</p>
    <ul>
      <li>
        <a href="https://stacks2.com/" rel="noopener" target="_blank">
          Stacks 2.0 Launch Information
        </a> - Mainnet launch is coming soon, sign up now to stay in the loop!
      </li>
      <li>
        <a href="https://www.blockstack.org/" rel="noopener" target="_blank">
          Stacks Main Website
        </a> - An overview of everything Stacks, including a high-level review of <a href="https://www.blockstack.org/how-blockstack-works" rel="noopener" target="_blank">How it Works</a>.
      </li>
      <li>
        <a href="https://stacks.org/" rel="noopener" target="_blank">
          Stacks Foundation Website
        </a> - An independent foundation formed to steward building an Internet that can't be evil.
      </li>
      <li>
        <a href="https://docs.blockstack.org/" rel="noopener" target="_blank">
          Stacks Documentation
        </a> - All you need to build decentralized apps, write smart contracts, and start mining.
      </li>
      <li>
        <a href="https://www.blockstack.org/testnet" rel="noopener" target="_blank">
          Stacks 2.0 Testnet Resources
        </a> - Help build the user owned internet by testing the latest builds for Stacks nodes, Stacks mining, Clarity smart contracts, and more.
      </li>
      <li>
        <a href="https://www.blockstack.org/papers" rel="noopener" target="_blank">
          Stacks 2.0 Papers
        </a> - Learn more about the fundamentals, technology, and concepts behind Stacks.
      </li>
      <li>
        <a href="https://www.app.co/" rel="noopener" target="_blank">
          Built on Stacks
        </a> - Discover some of the apps and services built on Stacks, secured by Bitcoin.
      </li>
    </ul>
  </div>

  <div class="container content">

    <h2>Mine to 1 Million STX Challenge</h2>
    <p>The <strong>Mine to 1 Million STX challenge</strong> from Daemon Technologies has 3 parts and is designed to help people learn more about how to mine Stacks using the testnet and following mainnet launch.</p>
    <div class="notification is-info is-light">    
      <h3 class="title is-primary">Part 1 has ended</h3>
      <p>Congratulations to everyone involved! More information can be found at the links below.</p>
      <div class="buttons">
        <a href="https://docs.google.com/spreadsheets/d/1kjZo16dYueBqdPaNEjYJQQeZWNXt6oH_9CTrlznG2ak/edit?usp=sharing" rel="noopener" target="_blank"
        class="button is-success is-light is-outlined">
          Part 1 - Results
        </a>
        <a href="https://forum.stacks.org/t/part-1-of-the-mine-to-1-million-stx-challenge-results/11491" rel="noopener" target="_blank"
        class="button is-success is-light is-outlined">
          Part 1 - Forum Post
        </a>
      </div>
      <h3 class="title is-primary">Part 2 begins January 5th</h3>
      <p>Part 2 begins on <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=Daemon+Technologies+%23Mineto1MSTX+Part+2&iso=20210105T04" rel="noopener" target="_blank">January 5th at 12:00pm HKT</a>, where you can receive real STX for every block you succesfully mine.</p>
      <div class="buttons">
        <a href="https://daemontechnologies.co/stx-mining-2" rel="noopener" target="_blank"
        class="button is-primary is-outlined">
          Register for Part 2
        </a>
      </div>
      <h3 class="title is-primary">Part 3 is still TBA</h3>
      <p>Watch for announcements both in Discord and <a href="http://daemontechnologies.co/minestx-challenge" rel="noopener" target="_blank">on the Daemon Technologies challenge website</a>.</p>
      <h3 class="title is-primary">Mining Setup Resources</h3>
      <div class="buttons">
        <a href="https://daemontechnologies.co/stx-mining-2" rel="noopener" target="_blank"
        class="button is-primary is-outlined">
          Bitcoin Node
        </a>
        <a href="https://daemontechnologies.co/stx-mining-2" rel="noopener" target="_blank"
        class="button is-primary is-outlined">
          Stacks Node
        </a>
        <a href="https://daemontechnologies.co/stx-mining-2" rel="noopener" target="_blank"
        class="button is-primary is-outlined">
          Stacks Keychain
        </a>
      </div>
    </div>
    <p>This website is a collection of community questions and answers, instructions on how to participate, and additional resources. Feel free to suggest ideas, changes, or issues in Discord or on GitHub. Contributions are welcome!</p>
</div>
    
</section>

{{ end }}